* {
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url(images/back6.jpg);
    background-size: cover;
}

.city {
    text-align: center;
    margin-top: 2%;
    font-size: 80px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1f 1fr;
    grid-template-areas: "box box box box" "box box box box";
    margin-top: 10%;
    margin-left: 5%;
}

.box {
    width: 20vw;
    height: 25vh;
    background-color: #3c3c44c7;
    border: 1px solid #eee;
    margin-bottom: 8%;
    box-shadow: 0 0 40px black;
}
.day {
    text-align: center;
    margin-top: 5%;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.644);
    color: white;
}
.icon {
    padding-left: 40%;
    width: 80px;
}
.other {
    text-align: center;
    color: white;
}
